.calculator-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
.calculation-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1em;
    text-align: right;
    font-size: 5em;
    width: 100%;
    min-height: 26vh;
    border-bottom: 3px solid rgba(154,144,176, 1);
    word-wrap: break-word;
    word-break: break-all;
}

.calculation-div .current {
    font-size: 5rem;
}
.calculation-div .previous {
    font-size: 3rem;
}

.buttons-grid {
    margin-top: 2em;
    display: grid;
    height: 53%;
    /* background-color: red; */
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: repeat(5, 22vw);
}

.btn {
    display: grid;
    place-items: center;
    margin: 5px;
    font-size: 2.5rem;
    color: var(--theme-purple-text);
    background-color: transparent;
    border: 2px solid var(--theme-purple-text);
    border-color: var(--theme-purple-text);
    border-radius: 2em;
}
.btn.theme-purple {
    color: var(--theme-purple-text);
    border: 2px solid var(--theme-purple-text);
    border-color: var(--theme-purple-text);
}

.btn.theme-orange {
    color: var(--theme-orange-text);
    border: 2px solid var(--theme-orange-text);
    border-color: var(--theme-orange-text);
}

.btn.theme-green {
    color: var(--theme-green-text);
    border: 2px solid var(--theme-green-text);
    border-color: var(--theme-green-text);
}

.span-two-hor {
    grid-column: span 2;
}
.span-two-vert {
    grid-row: span 2;
}
.btn-brd-acc {
    border-color: var(--theme-purple-buttonSymbol);
}
.btn-acc {
    color: var(--theme-purple-textAccent);
    background-color: var(--theme-purple-buttonSymbol);
    border-color: var(--theme-purple-buttonSymbol);
}
.placeholder {
    background-color: transparent;
    border: none;
}