.history-div {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: 100%;
}
.history-div .calc-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2em;
    min-height: 75px;
    font-size: 1.5rem;
    background-color: var(--color-);
    /* border-top: 2px solid var(--color-dividerBar); */
    border-bottom: 2px solid var(--color-dividerBar);
}