.nav-bar {
    background-color: var(--color-navBar);
    height: 75px;
    position: absolute;
    border-bottom: 1vh solid var(--color-dividerBar);
    width: 100%;
    background-color: var(--color-navBar);
    transition: ease-in-out 250ms;
    z-index: 100;
}

.nav-bar.open {
    opacity: .9;
    height: 50%;
}

.navBtn {
    display: flex;
    /* align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em 1em;
    height: 150px;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background-color: white;
    border-radius: 15px;
}

.hamburger-menu::before {
    content: "";
    position: absolute;
    top: 10px;
}

.hamburger-menu::after {
    content: "";
    position: absolute;
    bottom: 10px;
}
.nav-links {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
.nav-link {
    opacity: 0;
    transition: 250ms ease-in-out;
}
.nav-link.open {
    font-size: 2rem;
    opacity: 1;
}