.nav-bar {
    height: 75px;
    position: absolute;
    width: 100%;
    transition: ease-in-out 150ms;
    z-index: 100;
    border-style: solid;
    border-width: 0 0 1vh 0;
}

.nav-bar.theme-purple {
    border-color: var(--theme-purple-dividerBar);
    background-color: var(--theme-purple-navBar);
}

.nav-bar.theme-orange {
    border-color: var(--theme-orange-dividerBar);
    background-color: var(--theme-orange-navBar);
}

.nav-bar.theme-green {
    border-color: var(--theme-green-dividerBar);
    background-color: var(--theme-green-navBar);
}

.nav-bar.open {
    opacity: .9;
    height: 50%;
}

.navBtn {
    display: flex;
    /* align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em 1em;
    background-color: red;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
    display: block;
    position: relative;
    width: 45px;
    height: 5px;
    background-color: white;
    border-radius: 15px;
}

.hamburger-menu::before {
    content: "";
    position: absolute;
    top: 10px;
}

.hamburger-menu::after {
    content: "";
    position: absolute;
    bottom: 10px;
}

.nav-links {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.nav-link {
    opacity: 0;
    transition: 150ms ease-in-out;
}

.nav-link.open {
    font-size: 2rem;
    opacity: 1;
}

@media screen and (orientation: landscape) {
    .nav-bar {
        /* position: relative; */
        position: fixed;
        width: 10%;
        height: 100vh;
        top: 0;
        bottom: 0;
        border-width: 0 1vh 0 0;
        transition: ease-in-out 150ms;
        z-index: 100;
    }

    .nav-bar.open {
        opacity: .9;
        width: 100%;
        height: 100%;
    }

    .navBtn {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2em 1em;
        background-color: red;
    }

    .nav-links {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
    }

    .nav-link {
        opacity: 0;
        transition: 150ms ease-in-out;
    }

    .nav-link.open {
        font-size: 2rem;
        opacity: 1;
    }
}