.settings-div {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: 10
    0%;
}
.update-theme,
.update-font {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.settings-header {
    font-size: 2em;
}


.menu {
    margin-top: 1em;
    width: 70%;
    color: black;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    height: 50px;
}
.menu-selected {
    background-color: rgb(230, 230, 230);
}
.menu-selected.theme-purple {
    border-bottom: 3px solid var(--theme-purple-dividerBar);
}
.menu-selected.theme-orange {
    border-bottom: 3px solid var(--theme-purple-dividerBar);
}
.menu-selected-theme-green {
    border-bottom: 3px solid var(--theme-purple-dividerBar);
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgb(230, 230, 230);
    display: none;
    transition: 250ms ease-in-out;
}
.menu-dropdown.open {
    display: block;
    height: auto;
}
.menu-option {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.menu-selected,
.menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}