*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--theme-purple-background);
    color: var(--theme-purple-text);
}

html,
body {
    height: 100%;
}

.app {
    height: 100vh;
}
.app.theme-purple {
    background-color: var(--theme-purple-background);
    color: var(--theme-purple-text);
}
.app.theme-orange {
    background-color: var(--theme-orange-background);
    color: var(--theme-orange-text);
}
.app.theme-green {
    background-color: var(--theme-green-background);
    color: var(--theme-green-text);
}

/*  Future use */
/* @media screen and (orientation:portrait) { … }
@media screen and (orientation:landscape) { … } */